*#
*.cabal
*.chi
*.chs.h
*.dump-cmm
*.dump-simpl
*.dump-stg
*.dyn_hi
*.dyn_o
*.eventlog
*.hi
*.hie
*.hp
*.lock
*.o
*.prof
*~
./dist
.HTF/
.cabal-sandbox/
.ghc.environment.*
.hpc
.hsenv
.stack-work/
.stack-work/
TAGS
cabal-dev
cabal.project.local
cabal.project.local~
cabal.sandbox.config
dist
dist-*
